* {
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    & > section#sign-in {
        display: flex;
        background-color: red;
        align-items: center;

        .title {
            margin-bottom: 24px;
        }

        .form {
            padding: 20px;
            border-radius: 4px;

            box-shadow: 0px 0px 4px black;

            display: flex;
            flex-direction: column;
            row-gap: 16px;

            & > .row > input {
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}
